PROJECT_NAME="Fastapi project"
APP_PORT=8000
DEBUG=False
SQL_DATABASE_URL=mysql+mysqldb://user:pass@localhost:3306/db_name
SQL_DATABASE_URL_TEST=sqlite:///./test.db?check_same_thread=False

LOGGING_PARAMS_REQUEST_ENABLED=True
LOGGING_BODY_REQUEST_ENABLED=True
LOGGING_EXCLUDED_URL=/api/healthcheck,/docs,/re-doc,/openapi.json

JAEGER_ENABLED=False
JAEGER_INSECURE=True
JAEGER_EXCLUDED_URLS=/api/healthcheck,/docs,/re-doc,/openapi.json
JAEGER_MODE=thrift-agent # (thrift-collector, thrift-agent, grpc)
JAEGER_COLLECTOR_ENDPOINT=
JAEGER_HOST=localhost
JAEGER_PORT=6831
JAEGER_SAMPLING_RATE=1
