PROJECT_NAME="Fastapi project"
APP_PORT=8000
DEBUG=False
SQL_DATABASE_URL=mysql+mysqldb://user:pass@localhost:3306/db_name
SQL_DATABASE_URL_TEST=sqlite:///./test.db?check_same_thread=False

LOGGING_PARAMS_REQUEST_ENABLED=True
LOGGING_BODY_REQUEST_ENABLED=True
LOGGING_EXCLUDED_URL=/api/healthcheck,/docs,/re-doc,/openapi.json
