fastapi[all]
uvicorn[standard]
sqlalchemy
alembic
mysqlclient
python-dotenv
pyhumps
asgi-correlation-id
orjson
pytest
pytest-cov
isort
black
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-jaeger-thrift
opentelemetry-exporter-jaeger-proto-grpc
